@charset 'UTF-8';

@font-face {
    font-family: 'British-Shorthair';
    src: url('../fontes/British-Shorthair.otf');
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #809171, #DE97A0);
    }
    
    section#login{
        width: 80vw;
        height: 375px;
    }

    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 60%;
    }

    section#login div#formulario h1{
        font-size: 3.1em;
        color: #96666c;
    }

    div#formulario > p{
        font-size: 1em;
    }
}


@media screen and (min-width: 992px) {
    body{
        background-image: url('../imagens/pexels-min-an-1131458.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: rgba(231, 250, 250, 0.781);
    }

    section#login{
        width: 950px;
        background-color: rgba(222, 151, 161, 0.965);
        height: 470px;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    }

    section#login div#formulario h1{
        font-size: 4em;
        text-shadow: 0px 0px 5px #96666c;
    }

    div#formulario > p{
        font-size: 1.15em;
    }
    div.campo > input{
        transform: translateY(-12px);
    }
}   
