@charset 'UTF-8';

/*
    Paleta de cores
    Verde: #809171
    Rosa:  #DE97A0

*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #DE97A0;  
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    background-color: white;
    width: 256px;
    height: 535px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    
}

section#login > div#imagem{
    display: block;
    background: #DE97A0 url('../imagens/pexels-alan-cabello-990349.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login > div#formulario h1{
    font-family: 'British-Shorthair';
    text-align: center;
    font-size: 2.3em;
    margin-top: 2px;
    margin-bottom: 4px;
}

div#formulario > p{
    font-size: 0.8em;
    text-align: justify;
    margin-left: 3px;
    margin-right: 3px;
}

form > div.campo{
    display: block;
    background-color: #96666c;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 7px 0px;
    
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #809171;
    color: rgba(231, 250, 250, 0.781);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #66745a;
}

form > a.botao{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin-top: 5px;
    padding: 5px;
    background-color: #9fb38f;
    color: #96666c;
    border: 1px solid #66745a;
    border-radius: 5px;
    text-decoration: none;

}

form > a.botao:hover{
    background-color: #66745a;
    color: #DE97A0;
}

form > a.botao span{
    font-size: 0.8em;
}

form > a.botao span:hover{
    color: #DE97A0;
}